body {
    font-family: 'Roboto';
}
@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto-BlackItalic.ttf");
    font-weight: 100;
  }
  @font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto-LightItalic.ttf");
    font-weight: 300;
  }
* {
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.nav-list {
    font-size: 30px;
    font-weight:900;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color:yellowgreen;
}
    
  
  html {
    scroll-behavior: smooth; 
  }
  .nav-list {
    list-style: none;
    font-size: 2vh;
    font-size: 2vw;
  }
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }
  .circle {
    width: 20%;
    height: 100%;
    border-radius: 150px;
    border: 10px dotted blueviolet;


  }

  .section-title {
    color: aqua;
  }

  .footer {
    color: blueviolet;
  }